<h1>Datos Personales</h1>        
            <ul>
                <li>{{nombre}}</li>
                <li>{{precio}}</li>
                <li>{{categoria}}</li>
                <li>{{descuento}}</li>
                <li>{{stock}}</li>
            </ul>